.Dictionary {
  margin-top: 60px;
}

.Dictionary form {
  max-width: 700px;
  margin: 0 auto;
}

.Dictionary input {
  font-size: 18px;
  padding: 12px;
}

.Dictionary button {
  font-size: 18px;
  padding: 12px 24px;
}
