.Photos {
  margin-top: 30px;
}

.photo-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.photo-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  max-width: 600px;
  margin: 0 auto;

  border: 1px solid #ddd;
  border-radius: 4px;
}

.photo-card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  box-sizing: border-box;
  padding: 15px;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
