.Synonyms {
  margin-top: 20px;
  text-align: center;
}

.Synonyms h5 {
  font-weight: 600;
}

.Synonyms p {
  margin-top: 1px;
  font-size: 17px;
  color: #4e5356;
  overflow-wrap: anywhere;
  line-height: 1.7;
}

@media (max-width: 576px) {
  .Synonyms {
    padding: 0 10px;
  }

  .Synonyms p {
    font-size: 15px;
  }
}
